<html>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<head>
<style>
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
<title>{{.Title}}</title>
</head>

<body>

<div>

  <h1>{{.Title}}</h1>
  <i>{{.Description}}</i>

</div>


{{range $photo := .Photos}}
{{ $descLen := len $photo.Description}}
<div class="img">
  <a target="_blank" href="/photos/{{$photo.LocalPath}}">
    <img src="/photos/minis/{{$photo.LocalPath}}" alt="{{if gt $descLen  0}}{{$photo.Description}}{{end}} {{$photo.Time}}" >
  </a>
  <div class="desc">{{$photo.Description}}</div>
</div>

{{ end }}




</body>
</html> 